<div class="list">
  <div *ngIf="header" class="list-header">
    <div class="list-header-col" *ngFor="let col of columns; let i = index;" [ngStyle]="col.style.header">
      <span>{{(!col.displayName?col.name:col.displayName).toUpperCase()}}</span>
    </div>
  </div>
  <mat-list>
    <mat-list-item *ngFor="let list of data; let x = index;">
      <div *ngFor="let col of columns; let y = index;">
        <div *ngIf="col.style" [ngStyle]="col.style.cell">
          <div *ngIf="!icon" [ngClass]="{ 'no-content': !icon? true: false }">
            <mat-icon matListIcon class="mat-18">{{icon}}</mat-icon>
          </div>
          <span matLine
              [ngStyle]="col.style.content">
                {{onFilterData(list[col.name], col.filter, col.format)}}
          </span>
          <span *ngIf="col.style.subContent" matLine
                [ngStyle]="col.style.subContent">
            {{list[col.subContent]}}
          </span>
        </div>
        <div *ngIf="col.styleClass" [ngClass]="col.styleClass.cell">
            <div *ngIf="!icon" [ngClass]="{ 'no-content': !icon? true: false }">
              <mat-icon matListIcon class="mat-18">{{icon}}</mat-icon>
            </div>
            <div matLine
                [ngClass]="col.styleClass.content">
              {{onFilterData(list[col.name])}}
            </div>
            <span *ngIf="col.styleClass.subContent" matLine
                  [ngClass]="col.styleClass.subContent">
              {{list[col.subContent]}}
            </span>
          </div>
      </div>
    </mat-list-item>
  </mat-list>
</div>
