<div class="mat-elevation-z8">
  <div class="table">
  <table mat-table [dataSource]="dataSource" matSort>
    <!--footer있을 때-->
    <div *ngIf="tblSelect">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef [mpdTblSticky]="stickyRows['select']">
          <mat-checkbox (change)="$event ? masterToggle() : null;"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" [mpdTblSticky]="stickyRows['select']">
          <mat-checkbox (click)="$event.stopPropagation();"
                        (change)="$event ? selection.toggle(row) : null; putSelectionRow();"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
    </div>
    <div *ngIf="tblFooter">
      <div *ngFor="let col of tblColumns; let i = index;">
        <ng-container matColumnDef="{{ col }}" *ngIf="!tblColAttribute[i]['pipe'] && col !== 'select'">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [mpdTblSticky]="stickyRows[col]"> {{ col.toUpperCase() }} </th>
          <td mat-cell *matCellDef="let element" [mpdTblSticky]="stickyRows[col]"> {{ element[col] }} </td>
          <td mat-footer-cell *matFooterCellDef [mpdTblSticky]="stickyRows[col]">{{ getDataSummary(col) }}</td>
        </ng-container>
        <ng-container matColumnDef="{{ col }}" *ngIf="tblColAttribute[i]['pipe'] && col !== 'select'">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [mpdTblSticky]="stickyRows[col]"> {{ col.toUpperCase() }} </th>
          <td mat-cell *matCellDef="let element" [mpdTblSticky]="stickyRows[col]"> {{ element[col] | dataFormatPipe:tblColAttribute[i]['pipe'] }} </td>
          <td mat-footer-cell *matFooterCellDef [mpdTblSticky]="stickyRows[col]">{{ getDataSummary(col) }}</td>
        </ng-container>
      </div>

      <tr mat-header-row *matHeaderRowDef="tblColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tblColumns;" (click)="selection.toggle(row)"></tr>
      <tr mat-footer-row *matFooterRowDef="tblColumns"></tr>
    </div>
    <!--footer없을 때-->
    <div *ngIf="!tblFooter">
      <div *ngFor="let col of tblColumns; let i = index;">
        <ng-container matColumnDef="{{ col }}" *ngIf="!tblColAttribute[i]['pipe'] && col !== 'select'" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ col.toUpperCase() }} </th>
          <td mat-cell *matCellDef="let element"> {{ element[col] }} </td>
        </ng-container>
        <ng-container matColumnDef="{{ col }}" *ngIf="tblColAttribute[i]['pipe'] && col !== 'select'" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ col.toUpperCase() }} </th>
          <td mat-cell *matCellDef="let element"> {{ element[col] | dataFormatPipe:tblColAttribute[i]['pipe'] }} </td>
        </ng-container>
      </div>

      <tr mat-header-row *matHeaderRowDef="tblColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tblColumns;"></tr>
    </div>
  </table>


</div>

<mat-paginator [pageSizeOptions]="tblPageSize" showFirstLastButtons>
</mat-paginator>
</div>
