<div class="table mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!--footer있을 때-->
    <div *ngIf="tblFooter">
      <div *ngFor="let col of tblColumns; let i = index;">
        <ng-container matColumnDef="{{ col }}" *ngIf="!tblPipe[i]['pipe']">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ col.toUpperCase() }} </th>
          <td mat-cell *matCellDef="let element"> {{ element[col] }} </td>
          <td mat-footer-cell *matFooterCellDef>{{ getDataSummary(col) }}</td>
        </ng-container>
        <ng-container matColumnDef="{{ col }}" *ngIf="tblPipe[i]['pipe']" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ col.toUpperCase() }} </th>
          <td mat-cell *matCellDef="let element"> {{ element[col] | dataFormatPipe:tblPipe[i]['pipe'] }} </td>
          <td mat-footer-cell *matFooterCellDef>{{ getDataSummary(col) }}</td>
        </ng-container>
      </div>

      <tr mat-header-row *matHeaderRowDef="tblColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tblColumns;" (click)="selection.toggle(row)"></tr>
      <tr mat-footer-row *matFooterRowDef="tblColumns"></tr>
    </div>
    <!--footer없을 때-->
    <div *ngIf="!tblFooter">
      <div *ngFor="let col of tblColumns; let i = index;">
        <ng-container matColumnDef="{{ col }}" *ngIf="!tblPipe[i]['pipe']" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ col.toUpperCase() }} </th>
          <td mat-cell *matCellDef="let element"> {{ element[col] }} </td>
        </ng-container>
        <ng-container matColumnDef="{{ col }}" *ngIf="tblPipe[i]['pipe']" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ col.toUpperCase() }} </th>
          <td mat-cell *matCellDef="let element"> {{ element[col] | dataFormatPipe:tblPipe[i]['pipe'] }} </td>
        </ng-container>
      </div>

      <tr mat-header-row *matHeaderRowDef="tblColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tblColumns;"></tr>
    </div>
  </table>

  <mat-paginator [pageSizeOptions]="tblPageSize" showFirstLastButtons>
  </mat-paginator>


</div>
