@import '../../style-variabel.scss';

.table {
  width: 100%;
  overflow-x: auto;
}

.mat-table {
  width: 150%;
}

.mat-header-cell {
  text-align: center;
  background-color: $amber-color;
  color: $deepPurple-color;
  font-weight: bold;
  font-size: 15px;
}
::ng-deep .mat-sort-header-container {
  justify-content:center;
}
.mat-footer-cell {
  font-weight: bold;
}

.mat-column-select {
  overflow: initial;
}

.mat-table-sticy {
  left: 90px;
  text-align: center;
  border-right: 1px solid #e0e0e0;
}
