<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mpc-navbar (mpeMenuTitle)="changeTitle($event)"></mpc-navbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="wrap-nav">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sidenav.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>chu-angular-app</span>
    </mat-toolbar>
    <span class="subTitle">{{menuTitle}}</span>
    <main class="wrap-container">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
