@import '~@angular/material/theming';
@import './style-variabel.scss';

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  @include mat-elevation-transition;
  @include mat-elevation(4);
}

.wrap-nav {
    background-color: $deepPurple-color;
    color: $amber-color;
    margin-bottom: 20px;
    @include mat-elevation-transition;
    @include mat-elevation(4);

}
.wrap-content {
  height: 100%;

  .wrap-container {
    padding: 10px 70px 100px 70px;
    display: block;
    text-align: center;
    .container-title {
      text-align: left;
    }
    .container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: 0 auto;
    }
  }
  .content-footer {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.subTitle {
  background-color: $sub-background-color;
  color: $sub-font-color;
  font-size: 25px;
  font-weight: 500;
  padding: 2px 70px;
}
