@import '~@angular/material/theming';
@import '../../style-variabel.scss';

.mat-toolbar {
  background-color: $amber-color;
  color: $deepPurple-color;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
