/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './app/style-variabel.scss';

body {
    background: $backgroud-color;
    margin: 0;
    font-family: Roboto,
                 "Helvetica Neue Light",
                 "Helvetica Neue",Helvetica,Arial,
                 "Lucida Grande",sans-serif;
}